@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var titleSectionBackgroundImage = Model?.Value<IPublishedContent>("titleSectionBackgroundImage")?.Url() ?? "";
}

<section class="title-section">
    <img class="bg-image" src="@titleSectionBackgroundImage" alt="">
    <div class="container">
        <div>
            <h2>@Model.Value("titleSectionTitle")</h2>
            <div class="link-holder">
                <a href="/home">Home</a>
                <p>></p>
                <a href="@Model.Value("titleSectionLinkUrl")"><p>@Model.Value("titleSectionLinkText")</p></a>
                @if(Model.HasValue("titleSectionChildText"))
                {
                    <p>></p>
                    <p>@Model.Value("titleSectionChildText")</p>
                }
            </div>
        </div>
    </div>
</section>